
<style type="text/css">


</style>
</head>


<div id="full" style="position: fixed;">
    
    <a href="#">
        <img src="/assets/icon.jpg" style="height:100px; width:100%">
    </a>
    
    <div id="footer" style="position: fixed;">
        <% if user_signed_in? %>
            <%= current_user.email %>
            <a class="btn btn-md" href="#" role="button">마이페이지</a>
            <a class="btn btn-md" href="/users/sign_out" role="button">로그아웃</a>
        <% else %>
            <br><br>
            <a class="btn btn-sm" href="/users/sign_in" role="button">로그인</a>
        <% end %>
    </div>
</div>

<div id="sidemenu">
    <div id="title">
        목표 보기
    </div>
    

    <div id="modify">
        <p id="modify_button">편집</p>
        <p id="modify_done">완료</p>
    </div>
    <div id="goal_content">
        <div id="fixed_list">
            
            <div id="all">
                <div style="display:inline-block;"><img style="width:25px;height:25px;" src="/assets/allsee.jpg"></div>
                <div style="display:inline-block;">모두보기</div>
                <div style="display:inline-block;"><input type="checkbox" id="side_check"></div>
            </div>
            
            <div id="important">
                <div style="display:inline-block;"><img style="width:25px; height:25px;" src="/assets/like.jpg"></div>
                <div style="display:inline-block;">중요계획</div>
                <div style="display:inline-block;"><input type="checkbox" id="side_check"></div>
            </div>
        </div>

        <div id="list_item">
            <% @bg.each do |b| %>
            <div>   
                <div style="display:inline-block;" id="goal_color"></div>
                <div style="display:inline-block;" id="goal_name"><%= b.content %></div>
                <div style="display:inline-block;"><input type="checkbox" id="goal_check"></div>
                <div style="display:inline_block;" id="modify_delete">
                    <a href="/home/click_modify/<%=b.id%>"><img src="/images/modify_icon.jpg" id="click_mod" /></a>
                    <a href="/home/click_delete/<%=b.id%>"><img src="/images/delete_icon.jpg" id="click_del" /></a>
                </div>
            </div>
            <% end %>
        </div>d
        
            
            <div id="adthegoal">
                
                <div id="ad_button">
                  
                    <div style="display:inline-block;"><img style="width:25px; height:25px;" src="/assets/add.jpg"></div>
                    <div style="display:inline-block;">새 목표 추가하기</div>
                    <div style="display:inline-block;"></div>
                </div>
                
                <div id="goal_form">
                    <div id="color_choice">
                        <select name="colorpicker">
                          <option value="#7bd148">Green</option>
                          <option value="#5484ed">Bold blue</option>
                          <option value="#a4bdfc">Blue</option>
                          <option value="#46d6db">Turquoise</option>
                          <option value="#7ae7bf">Light green</option>
                          <option value="#51b749">Bold green</option>
                          <option value="#fbd75b">Yellow</option>
                          <option value="#ffb878">Orange</option>
                          <option value="#ff887c">Red</option>
                          <option value="#dc2127">Bold red</option>
                          <option value="#dbadff">Purple</option>
                          <option value="#e1e1e1">Gray</option>
                        </select>
                    </div>
                    <input type="text" id="new_goal_name">
                    <input type="button" id="plusbutton" value="+">
                </div>
                
            </div>
        
    </div>
</div>





<!------------------------------------
	timeline
-------------------------------------->

<section id="cd-timeline">

	<div class = 'age-nav'>
		<p>10대</p>
		<p>20대</p>
		<p>30대</p>
		<p>40대</p>
		<p>50대</p>
		<p>60대</p>
		<p>70대</p>
		<p>80대</p>
		<p>90대</p>
	</div>

	<% @sg.each do |t| %>
		<div class="cd-timeline-block age-<%= t.due.year.to_s[2] %>">
			<div class="cd-timeline-img"></div>
			<div class="cd-timeline-content">
				<div class="content-header">
			                <img src="/assets/delete_icon.jpg">
			                <img src="/assets/modify_icon.jpg">
				</div>
				
				<div class="arrow_box">
				 	<h1> <%= t.title %> </h1>
				 	<h2>AGE <span style="font-size:1.7em"><%= t.due.year %></span></h2>
			 	    
                    <img class="up" src="assets/uparrow.jpg"; width=30px; height=30px;  hspace="10">
                    <img style="display: none" class="down" src="assets/downarrow.jpg"; width=30px; height=30px;  hspace="10">
                    
                    <img class="star_blank" src="assets/star_blank.png"; width=30px; height=30px;  hspace="10">
                    <img style="display: none" class="star_full" src="assets/star_full.png"; width=30px; height=30px;  hspace="10">
                    
                </div>
                
				<div class="content-body">
					
					<div class="doplan-list">
					<% t.doplans.each do |d| %>
						<div class="doplan-line">
						    <div>
    							<p><%= d.content %></p>
    			                <input type="checkbox" checked="checked" name="option">
    			                <img src="/assets/delete_icon.jpg" class="del_button" value="<%=d.id%>">
    			                <img src="/assets/modify_icon.jpg" class="edit_button">
			                </div>
		                    <div style="display: none" value="<%= d.id%>" >
		                        <input type="text" value="<%=d.content%>">
		                        <input class = "edit_submit" type="submit" value="확인">
		                    </div>
						</div>
					<% end %>
					</div>
					
					
                    <div class="add-plan">
                        <img class="add-plan-button" value="<%= t.id%>" src ="/assets/add.jpg">
                        <input style="width:80%;" type="text" placeholder="실행 계획 추가...">
                    </div>
				</div>
			</div>
		</div>
	<% end %>
		
	</div>
</section>
